* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}





body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}

h1 {
    margin-bottom: 0.5em;
    text-align: center;
    color: honeydew;
    pointer-events: none;
}

input[type="number"] {
    display: block;
    width: 70%;
    height: 50px;
    margin: 0 auto 0.5em;
    border-radius: 50px;
    border: 1px solid #333333;
    text-align: center;
    font-size: 2em;
    outline: none;
    -moz-appearance: textfield; /* ลบ spinner ด้านในของ input[type="number"] */
}

input::-webkit-inner-spin-button {  /* ลบ spinner ด้านในของ input[type="number"] */
    -webkit-appearance: none;
}





.btn-click-clear {
    width: 200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#btn-output {
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid #333333;
    font-size: 1.1em;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s, font-size 0.2s, border 0.3s;
}

#btn-output:hover {
    color: honeydew;
    background-color: skyblue;
    border: 1px solid skyblue;
    font-size: 1.4em;
}

#clear {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #333333;
    font-size: 1.1em;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s, font-size 0.2s, border 0.3s;
}

#clear:hover {
    color: honeydew;
    background-color: red;
    border: 1px solid red;
    font-size: 1.4em;
}





#show-me {
    width: 60%;
    height: auto;
    margin: 0.5em auto;
    border-radius: 10px;
    background-color: #222222;
    text-align: center;
    font-size: 20px;
    color: honeydew;
}

#show-me p {
    width: 160px;
    text-align: justify;
    margin: 10px auto;
    font-size: 1.2em;
}